@media (max-width: 400px) {
  .water {
    height: auto;
    font-size: 20px;
    padding: 10px;
  }
  .signup a {
    width: 100%;
  }
  input {
    width: 100%;
  }

  .button2 {
    left: 10px;
    width: 100%;
    margin: 10px auto 100px;
    }
  .container2 {
    height: auto;
    padding: 100px 0 100px 0;
  }

  .line {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    width: 100%;
    height: 700px;
    background: red;
  }
  .water2 {
    height: auto;
    font-size: 20px;
    padding: 10px;
  }
  .footer {
    margin-left:auto;
    margin-right:auto;
    height:auto;
    width:auto;
}
      .footerleft {
        float: left;
      }
      .footerright {
        float: left;
        clear: left;
      }

}
